@import "variables.less";
@primary-color: #007bff;
@spacing: 20px;


.form {
    max-width: 800px;
    margin: 0 auto;
    padding: (@spacing/4);

    @media screen and (max-width: 768px) {
        max-width: 400px;
        margin: 0 auto;
        padding: -(@spacing / 2);

    }

    .row {
        display: flex;
        flex-wrap: wrap;
       //gap: @spacing;
/*
        .left {

            flex: 1;
            padding: (@spacing / 2);
            text-align: center;

            @media (max-width: 768px) {
                flex-basis: 100%;
            }
        }

        .right {
            flex: 1;
            padding: (@spacing / 2);
            text-align: center;

            @media (max-width: 768px) {
                flex-basis: 100%;
            }
        }*/

        .item {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding: 10px 0;
            border-bottom: 1px solid #eee;

            .info {
                display: flex;
                //align-items: center;
                gap: 10px;

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: start;


                    .code {
                        font-weight: bold;

                    }

                    .name {
                        font-size: 0.9em;
                        color: #777;
                    }


                    .positive {
                        color: green;
                    }

                    .negative {
                        color: red;
                    }

                    .neutral {
                        color: gray;
                    }



                    .daily-value {
                        font-size: 0.75em;
                    }


                }
            }

            .rates {
                display: flex;
                gap: 30px;

                .rate-group {
                    display: flex;
                    flex-direction: column;
                    align-items: end;

                    .text {
                        font-size: 0.9em;
                        color: #777;
                    }

                    .number {
                        font-weight: bold;
                    }
                }
            }
        }

        .image {
            width: 50px;
            height: auto;
            margin-right: 10px;

            @media (max-width: 768px) {
                width: 35px;
            }
        }
    }

    .button-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        width: 100%;
        @media @mobile {
            flex-direction: row;
            flex-wrap: wrap;
            
        }

        .right_button {
            .btn {
                background-color: rgb(202, 48, 48);
                color: rgb(0, 0, 0);
                padding: 25px 15px;
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                text-align: center;


            }
        }

        .left_button {
            .btn {
                background-color: rgb(200, 99, 231);
                color: rgb(255, 255, 255);
                padding: 25px 15px;
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;


            }

        }
    }

}